<h1>Students#index</h1>

<table class="table table-bordered table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Email</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    <% x = 0 %>
    <% @students.each do |s| %>
    <tr>
      <th scope="row"><%= x += 1 %></th>
      <td><%= s.fname %></td>
      <td><%= s.lname %></td>
      <td><%= s.email %></td>
      <td>*</td>
    </tr>
    <% end %>
  </tbody>
</table>
